@keyframes moving {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: 70px;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.spinner {
  align-items: center;
  display: flex;
  margin: 0 auto;
}
.container {
  height: 100vh;
  display: flex;
}
.spinner-text {
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  animation: blinking 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
}
.rect {
  background-color: black;
  width: 10px;
  height: 4px;
  border-radius: 2px;
  position: relative;
  top: 10px;
  animation-name: moving, blinking;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
}
