
* {
    margin: 0;
  padding: 0;
}
.text {

  margin: 16px;
border-bottom: 1px dotted black;
display:inline-block;
}
.tooltip {
  visibility: hidden;
  position: absolute;
 top: 40px;
  left: 16px;
  background-color: grey;
  color: white;
  border-radius: 4px;
  padding: 8px;
 
}
.text:hover .tooltip {
  visibility: visible;
}
