$phone: 600px;
$tablet: 900px;
$destkop: 1200px;

@mixin phone {
  @media screen and (max-width:599px) {
   @content;
  }
}

@mixin medium {
  @media screen and (min-width: $phone) and (max-width: 899px) {
   @content;
  }
}
@mixin tablet {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
   @content;
  }
}
@mixin destkop {
  @media screen and (min-width:$destkop) {
   @content;
  }
}
@mixin landscape {
  @media screen and (orientation: landscape) {
    @content;
  }
}
@mixin portrait {
  @media screen and (orientation: portrait) {
    @content;
  }
}