
* {
  box-sizing: border-box;
}
div {
  margin: 0;
  margin: 16px;
}

.dropdown {
  padding-bottom: 16px;
    padding-top: 16px;
display: inline-block;
}
.menu-button {
  font-size: 16px;
  opacity: 0.8;
  position: relative;
  color: white;
padding:16px ;
 background-color: darkgreen;

}
.menu-list {
  position: absolute;
  top: 65px;
  display: none;
  margin: 0;
  padding: 0;
  background-color: lightcyan;
  color: black;
  box-shadow: 0px 4px 8px 0px rgba (0,0,0,0.2);
  min-width: 120px;
  z-index: 1;
  
}
.menu-item {
  list-style: none;
  padding:16px;
 }
.dropdown:hover .menu-list {
  color: black;
  cursor: pointer;
 display: block;

}