.container {
  margin: 32px;
  box-sizing: border-box;
  
}
.rect {
  box-sizing: border-box;
  background-color: coral;
  text-align: center;
  opacity: 0.5;
  width: 100px;
  height: 100px;
  margin-bottom: 16px;
  line-height: 100px;
}
.rect:hover {
  width: 50%;
  transition: 2s;
  opacity: 1;
  transition: 0.5s;

}
.linear:hover {
  transition-timing-function: linear;
}
.ease:hover {
  transition-timing-function: ease;
}
.ease-in:hover {
  transition-timing-function: ease-in;
}
.ease-out:hover {
  transition-timing-function: ease-out;
}
.ease-in-out:hover {
  transition-timing-function: ease-in-out;
}