.header {
  background-color: darkturquoise;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.nav-list {
  height: 40px;
  margin-left: 16px;
  color: white;
 margin: 0;
}
.nav-item {
  display: inline-block;
line-height: 2.5;
margin-right: 16px;

}
.content {
  background-color: beige;
  height: 5000px;
}
.head {
position: absolute;
top: calc(50%);
left: calc(50%);
  background-color: aquamarine;
  height: 200px;
  width: 200px;

}
.eye_right {
  background-color: grey;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  top: 80px;
  right: 40px;
 }
.eye_left {
  background-color: grey;
  width: 30px;
  height: 30px;
  border-radius: 100%;
 position: absolute;
 top: 80px;
 left: 40px;
}
.ear_left {
  height: 60px;
  width: 40px;
  background-color: brown;
 position: absolute;
  top: -60px;
  left: -40px;
}
.ear_right {
  height: 60px;
  width: 40px;
  background-color: brown;
  margin-left: 200px;
position: absolute;
  top: -60px;
  right: -40px;
}
