html {
  background-color: bisque;
}
.page {
position: absolute;
top: calc(50% - 177.92px);
left: calc(50% - 150px);
width: 300px;
background-color: aqua;
font-size: 16px;
font-family: monospace;
box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2) ;
}

.form-title {
  text-transform: uppercase;
  text-align: center;
 align-items: center;
}
.form-input {
padding: 0;
  box-sizing: border-box;
  height: 32px;
  border-radius: 4px;
outline: 0px;
  width: 268px;
    
}
form > div:nth-of-type(1){
 margin-bottom: 8px;
  
}
div:nth-of-type(2) {
  margin-bottom: 8px;
}
div:nth-of-type(3) {
  margin-bottom: 8px;
}
.form-control {
  box-sizing: border-box;
  margin: 0;
}
input[type="email"] {
   border:3px solid #ff0000;
}
input[type="password"] {
   border:3px solid #ff0000;
}
.login-form {
  box-sizing: border-box;
  padding: 16px;
}
.div {
  margin-bottom: 4px;
}
.submit-button {
  width: 268px;
  height: 32px;
  background-color: #ff7f50;
  margin-top: 16px;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  color: white;
border: 3px solid #808080;
}


