h1 {
  text-align: center;
}
.articles-list {
  display: flex;
 flex-basis: 200px;
}
.article {
   flex-wrap: wrap;
 flex-grow: 1;
  background-color: bisque;
  margin: 8px;
  padding: 16px;
width: 200px;
flex-basis: 200px;
}

