h1 {
  text-align: center;
}
.articles-list {
  display: flex;
  flex-wrap: wrap;
 
}
.article {
   flex-wrap: wrap;
  flex-grow: 1;
  background-color: bisque;
  flex-basis: 300px;
  margin: 8px;
  padding: 16px;
 
}
