.articles {
  box-sizing: border-box;
  display: flex;
  }
  .visible-text {
    margin: 16px;
    background-color: beige;
    height: 100px;
    width: 150px;
  }
  .cropped {
    overflow: hidden;
    margin: 16px;
    background-color: beige;
    height: 100px;
    width: 150px;
  }
  .both-scrolls {
    cursor: all-scroll;
     overflow: scroll;
    margin: 16px;
    background-color: beige;
    height: 100px;
    width: 150px;
  }
  .vertical-scroll {
    cursor: all-scroll;
    overflow-x: scroll;
    margin: 16px;
    background-color: beige;
    height: 100px;
    width: 150px;
  }
