section {
  padding: 0;
  margin: 0;
  margin: 32px;
  font-family: Roboto,sans-serif;
  font-size: 18px;
}
h1 {
  padding: 0;
  margin: 0;
  word-spacing: 20px;
  text-transform: uppercase;
  text-align: center;

}
p {
     margin-top: 32px;
  line-height: 28px;
 
}
.word {

  letter-spacing: 3px;
  font-size: 24px;
  opacity: 0.8;
  text-decoration: underline;
}
em {
  color: grey;
}
a {
  text-decoration: none;
}