
h1 {
  margin: 0;
  padding: 0;
  word-spacing: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 15px;
}


p {
  line-height: 28px;
}
p {
  padding-top: 1px;
}
p:last-child {
padding: 0;
}

* {
  font-family: Roboto, sans-serif;
  font-size: 18px;

 
}
.word {
  letter-spacing: 3px;
  font-size: 24px;
  opacity: 0.8;
  text-decoration: underline;
  margin: 0;
}
a {
  text-decoration: none;
  margin: 0;
}
.translation {
  color: grey;
  margin: 0;
}
section {
  margin: 32px;
}
