table {
  width: 500px;
  margin: 16px;
  box-sizing: border-box;
}
tbody {
   box-sizing: border-box;
}
td, th {
  padding: 4px;
  text-align: right;
  box-sizing: border-box;
}
table, td, th {
  border: 1px solid black;
   border-collapse: collapse;
}
div {
  overflow-x: auto;
   box-sizing: border-box;
}
tr {
  line-height:  40px ;
   box-sizing: border-box;
}
tbody > tr:nth-child(odd) {
background-color: #f2f2f2;
}
tbody > tr:hover {
  background-color: #aaa;
  color: #ffffff;
 
}
thead {
  background-color:aqua ;
   box-sizing: border-box;
}
tfoot {
  font-weight: 700;
}
caption {
  margin-bottom: 8px;
}